body {
  font-family: "Circular";
  overflow-x: hidden;
  overflow-y: auto;
}

#bg{
  width: 100vw;
  height: 100vh;
  z-index: -3;
  position: absolute;
  filter: blur(500px);
}

.songContainerStyle{
  margin-left: 4rem
}
.buttonStyle{
  margin-right: 37rem; 
  fill: white
}

.general-container {
  background-image: linear-gradient(top to bottom, rgba(209, 181, 76, 1), rgba(16, 16, 16, 1));
  margin-left: 300px;
  margin-top: 10rem;
}

.container-fluid {
  padding: 0;
}

nav {
  height: 70px;
}

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #101010;
  overflow-x: hidden;
  padding-top: 20px;
}

#logo {
  fill: white;
  width: 180px;
  margin-bottom: 1.5rem;
}
.sidebar-icon {
  fill: rgb(199, 199, 199);
  transition: fill 0.3s ease-in;
}
.sidebar-icon:hover {
  fill: white;
  cursor: pointer;
}
.add {
  fill: #121212;
}

.add-bg {
  background-color: lightgrey;
  border-radius: 2px;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0.3rem;
}

.heart-bg {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  border-radius: 2px;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0.3rem;
}

#install {
  margin-top: 12rem;
}

.sidebar-par {
  width: 200px;
}

hr {
  width: 230px;
}

.sidebar-link {
  color: rgb(199, 199, 199);
  transition: color 0.3s ease-in;
}

.sidebar-link:hover {
  color: white;
  cursor: pointer;
}

.music-pic {
  width: 200px;
  box-shadow: 5px 5px 20px 0px #000000;
  margin-left: 3rem;
}

#icon {
  width: 25px;
  border-radius: 15px;
}

#navBar {
  align-items: center;
  padding-inline: 2rem;
  background-color: #00000000;
  display: flex;
  color: aliceblue;
  padding-block: 10px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin-right: 220px;
  width: 100%;
  transition: 0.5s;
}

#navL i {
  font-size: 2rem;
  margin-inline: 0.5rem;
  cursor: pointer;
  flex-wrap: nowrap;
}

#navUpgrade {
  font-weight: 600;
  border: 1px solid grey;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 20px;
  margin-right: 20px;
}
#navR {
  display: flex;
  align-items: center;
  margin-right: 33rem;
}

#navR img {
  width: 30px;
  border-radius: 100%;
}

#profile {
  padding: 4px;
  display: flex;
  background-color: black;
  border-radius: 20px;
  align-items: center;
}

#name {
  padding-inline: 7px;
}

li::marker {
  display: none;
}

.padd {
  margin-right: 3px;
}

#pointerNone {
  color: rgb(167, 167, 167);
  font-size: 1.5rem;
}

#aside {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #101010;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
}

#music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}

.command-btn {
  border: none;
  background-color: transparent;
}

.command {
  fill: rgb(167, 167, 167);
  transition: fill 0.3s ease;
}
.command:hover {
  fill: white;
}
.album {
  background-image: linear-gradient(rgba(255, 255, 255, 0.00)1%, #121212 100%);
}
.play-buttons {
  margin-left: 3rem;
}

#play-green {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #1ed760;
  border: none;
  margin-top: 4rem;
}

#play-green2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1ed760;
  border: none;
}

#play-green2:hover{
  transform: scale(1.1);
}

#favorites,
#more,
#small-heart{
  opacity: 0;
  border: none
}

#favorites,
#more{
  opacity: 1;
  background-color: transparent;
}

.size{
  width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.margin{
  margin-left: 400px;
}

.hoverStyle:hover #small-heart{
  opacity: 1;
}
.hoverStyle:hover #small-more{
  opacity: 1;
}

#small-more {
  border: none;
  background-color: transparent;
  opacity: 0;
}
#duration {
  font-size: 0.8rem;
}

#play-bg {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: white;
  border: none;
  position: relative;
}

.bar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 805;
  padding: 2rem;
  height: 5%;
  color: white;
}

.bar-1 {
  height: 4px;
  background: #333;
  border-radius: 2px;
  margin-top: 1rem;
  position: relative;
  left: 285px;
  width: 500px;
}
#vol {
  height: 3px;
  background: #333;
  border-radius: 2px;
}

@media (max-width: 768px) {
  #nav {
    display: none;
  }
}
@media (max-width: 580px) {
  #navUpgrade {
    display: none;
  }
}
@media (max-width: 418px) {
  #lMenu {
    display: none;
  }
  #main {
    margin-left: 0px;
  }
  #navBar {
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
  }
}

@media (min-width: 419px) {
  #pointerNone {
    display: none;
  }
}
