body {
  background-color: #121212;
}
.general-container {
  margin-left: 280px;
}

#search-input {
  width: 300px;
  margin-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
}

#results-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 250px;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  position: relative;
}

#buttons button {
  background-color: #232323;
  border-radius: 30px;
}
#buttons button:hover {
  background-color: #2a2a2a;
}
#buttons button:focus {
  background-color: white;
  color: black !important;
}

#nome-album-nav {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.69);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

#nome-album {
  font-size: 4rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.69);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 700px;
}

#nome-artista {
  font-size: 1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.69);
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#container {
  width: 60%;
}

#play {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #1ed760;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  opacity: 0;
}

.brano:hover {
  background-color: #282828;
}
.brano:hover svg {
  opacity: 1;
}

.nomeBrano:hover {
  cursor: pointer;
  text-decoration: underline;
}
.nomeArtista:hover {
  cursor: pointer;
  text-decoration: underline;
}

.brani div img {
  width: 50px;
  padding: 10px;
}
.brani svg {
  opacity: 0;
  fill: white;
  left: 25px;
}

#play svg {
  position: absolute;
  right: 12px;
  bottom: 13px;
}
#play:hover {
  transform: scale(1.1);
}

#results-container:hover #play {
  animation: up 0.3s 0.3s both;
}

@keyframes up {
  from {
    bottom: 10px;
  }
  to {
    opacity: 1;
    bottom: 20px;
  }
}

#results-container:hover {
  background-color: #282828;
  cursor: pointer;
}

#navBar {
  z-index: 1;
}
